data/국가기본도_시군구구역경계/* filter=lfs diff=lfs merge=lfs -text
data/국가기본도_시군구구역경계/*.shp filter=lfs diff=lfs merge=lfs -text
data/국가기본도_시군구구역경계/*.shx filter=lfs diff=lfs merge=lfs -text
data/국가기본도_시군구구역경계/*.dbf filter=lfs diff=lfs merge=lfs -text
data/국가기본도_시군구구역경계/*.prj filter=lfs diff=lfs merge=lfs -text
data/국가기본도_시군구구역경계/*.cpg filter=lfs diff=lfs merge=lfs -text
